assignment2/.parcel-cache
assignment2/node_modules
assignment2/dist
assignment3/dist
assignment3/node_modules
assignment3/.parcel-cache
assignment4/dist
assignment4/node_modules
assignment4/.parcel-cache
