assignment2/.parcel-cache
assignment2/node_modules
assignment2/dist

assignment3/dist
assignment3/node_modules
assignment3/.parcel-cache

assignment4/dist
assignment4/node_modules
assignment4/.parcel-cache

assignment5/dist
assignment5/node_modules
assignment5/.parcel-cache

assignment6/dist
assignment6/node_modules
assignment6/.parcel-cache

assignment7/dist
assignment7/node_modules
assignment7/.parcel-cache

assignment8/dist
assignment8/node_modules
assignment8/.parcel-cache

assignment9/dist
assignment9/node_modules
assignment9/.parcel-cache

assignment10/dist
assignment10/node_modules
assignment10/.parcel-cache
