.profile-container {
    display: flex;
    margin: 10px;
    font-family: "Apple Chancery", serif;
}

.restaurant-detail-container {
    margin-left: 70px;
}

.image {
    border-radius: 150px;
    height: 300px;
    width: 300px;
}

.restaurant-name {
    margin-bottom: 0;
}

.food-name {
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-detail-container {
    margin: 20px 20px 20px 70px;
}

.separator-line {
    width: 95vw;
    border: 1px solid grey;
    margin-left: 30px;
}
