.header-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid darkred;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    margin-left: 20px;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Apple Chancery", serif;
}

.nav-items > li {
    padding: 18px;
    color: darkred;
}
