.header-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid darkred;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    margin-left: 20px;
}

.nav-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Apple Chancery", serif;
}

.nav-items > a {
    text-decoration: none;
    padding: 18px;
    color: darkred;
}

.nav-items > a:hover {
    text-decoration: underline;
}

.nav-items > li {
    padding: 18px;
    color: darkred;
}

.login-btn {
    height: 42px;
    width: 95px;
    padding: 1px 2px;
    background-color: darkred;
    opacity: 90%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 20px auto 10px;
}
